<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="Openbox 3">
  <item label="Mist">
    <action name="Execute">
      <command>mist --rpc "/media/dapper-data/.ethereum/geth.ipc"</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Web Browser (Chromium)">
    <action name="Execute">
      <command>firejail chromium --proxy-server="localhost:8118"</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Terminal (Xterm)">
    <action name="Execute"><command>xterm</command></action>
  </item>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
